
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background: #dcfceb;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 147px;
  z-index: 11;
}

.header-logo,
.header-user {
  width: 180px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 99px;
  background: #e9fff6;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 40px;
  padding: 0;
}

.header-logo img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



.header-title {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 2px;
}



.header-button:hover {
  background: #45a049;
}

.button {
  background-color: #23c483;
  padding: 14px 40px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #00BFA6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
  z-index: 2;
  min-height: 100%;
  min-width: 100%;
}

.button span:last-child {
  display: none;
}

.button:hover {
  transition: .4s;
  border: 2px solid #00BFA6;
  background-color: #fff;
  color: #00BFA6;
}

.button:active {
  background-color: #87dbd0;
}
.header-box-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 147px;
  width: 600px;
  z-index: 10;
}

/* Caja base */

/* Caja superpuesta (invisible hasta que la muestres) */
.header-mistey-box {
  position: absolute;
  bottom: 35px;
  /* se alinea arriba de cart */
  left: 0;
  width: 100%;
  height: 100%;
  /* misma altura que cart */
  background: #fff;
  border: 1px solid #000;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  /* se superpone */
}
.header-cart p {
  margin: 0;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}